[submodule "modules/vim/vim/bundle/golden-ratio"]
    path = modules/vim/vim/bundle/golden-ratio
    url = git://github.com/roman/golden-ratio.git
[submodule "modules/vim/vim/bundle/python-syntax"]
	path = modules/vim/vim/bundle/python-syntax
	url = git://github.com/hdima/python-syntax.git
[submodule "modules/vim/vim/bundle/ultisnips"]
	path = modules/vim/vim/bundle/ultisnips
	url = https://github.com/SirVer/ultisnips
